.slider-wrap {
  flex-grow: 1;
  height: 100%;
  .project-slide {
    display: flex;
    height: 43rem;
    @media only screen and (max-width: 760px) {
      height: 36rem;
    }
    .card {
      width: 90%;
      height: 100%;
      background: rgba(255, 255, 255, 0.8);
      border: 2px solid #e5e7eb;
      backdrop-filter: blur(30px);
      border-radius: 32px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      .slide-img {
        height: 28rem;
        @media only screen and (max-width: 760px) {
          height: 18rem;
        }

        img {
          height: 100%;
          width: 100%;
          border-radius: 32px;
        }
      }
      .project-info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
      }
      .desc {
        margin-top: 1rem;
        cursor: pointer;
        flex-grow: 1;

        h2 {
          letter-spacing: 0.0007em;
          font-weight: 500;
          font-size: 1.5rem;
        }
        p {
          margin: 1rem 0;
        }
      }
    }
  }
}
.project-meta {
  @apply flex items-center space-x-2 text-xs md:text-base;
}

.project-tag {
  @apply rounded-lg py-[6px] px-3 bg-[#F5F5F5];
}
.next-arr {
  position: absolute;
  top: -4rem;
  right: 3rem;
  cursor: pointer;
}
.prev-arr {
  position: absolute;
  top: -4rem;
  right: 6rem;
  cursor: pointer;
  @media only screen and (max-width: 760px) {
    right: 7rem;
  }
}
.text {
  margin-bottom: 3rem;
  font-weight: 600;
  font-size: 2rem;
  @media only screen and (max-width: 760px) {
    font-size: 1.5rem;
    margin-bottom: 5rem;
  }
}
